/* PARA TABLET */
@media (max-width: 992px) {

    /* HEADER */
    header {
        justify-content: space-between;
        padding: 0 20px;
    }

    /* LOGO */
    .logo {
        height: 80%;
    }

    /* NAVBAR */
    .navbar {
        gap: 12px;
    }

    .navbar-list {
        position: absolute;
        top: 100px;
        width: 90%;
        right: 5%;
        left: 5%;
        flex-direction: column;
        background: var(--verde);
        z-index: 3;
        display: none;
        gap: 25px;
    }

    /* MOSTRAR ICONO MENU */
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    /* BOTON MENU */
    .menu-icon {
        font-size: 20px;
        color: var(--blanco);
        font-weight: 600;
    }

    /* ABRIR MENU HAMBURGUESA PARA JS */
    .open-menu {
        display: flex;
    }

    /* HERO */



    /* NOSOTROS */
    #nosotros {
        margin-top: -53px;
    }

    .container {
        flex-direction: column;
    }

    .image,
    .info {
        width: 100%;
    }

    .order {
        order: 2;
    }

    /* PRODUCTOS */
    .galeria {
        grid-auto-columns: auto;
    }

    /* CONTACTO */
    .contacto {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .direccion,
    .telefono,
    .horario,
    .mail {
        flex-direction: column;
        align-items: center;
        padding: 5px 10px;
        border-right: 2px solid black;
    }

    .datos,
    .mapa {
        width: unset;
        align-items: center;
    }
}

/* PARA CELULAR */

@media (max-width: 576px) {

    /* HEADER */
    header {
        background-color: var(--verde);
    }

    /* HERO */
    #hero {
        display: none;
    }

    /* NOSOTROS */
    #nosotros {
        margin-top: 0;
    }

    .order {
        order: unset;
    }

    .mq-order {
        order: 2;
    }

    .info {
        align-items: center;
        text-align: justify;
    }

    .info p {
        text-align: center;
    }

    h1,
    .info h2 {
        text-align: center;
    }

    /* CONTACTO */
    .mapa {
        display: none;
    }

    .datos p {
        text-align: center;
    }

    /* FOOTER */

    footer p {
        text-align: center;
    }

}