/* PARA TABLET */
@media (max-width: 992px) {

    /* HEADER */
    header {
        justify-content: space-between;
        padding: 0 20px;
    }

    /* LOGO */
    .logo {
        height: 80%;
    }

    /* NAVBAR */
    .navbar {
        gap: 12px;
    }

    .navbar-list {
        position: absolute;
        top: 100px;
        width: 90%;
        right: 5%;
        left: 5%;
        flex-direction: column;
        background: var(--verde);
        z-index: 3;
        display: none;
        gap: 25px;
        padding: 30px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top: 1px solid var(--blanco);
    }

    /* MOSTRAR ICONO MENU */
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    /* BOTON MENU */
    .menu-icon {
        font-size: 20px;
        color: var(--blanco);
        font-weight: 600;
    }

    /* ABRIR MENU HAMBURGUESA PARA JS */
    .open-menu {
        display: flex;
    }


    /* HERO */



    /* NOSOTROS */
    #nosotros {
        margin-top: -53px;
    }

    .container {
        flex-direction: column;
    }

    .image,
    .info {
        width: 100%;
    }

    .order {
        order: 2;
    }

    /* PRODUCTOS */
    .galeria {
        max-width: 500px;
    }

    /* CONTACTO */
    .contacto {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .direccion,
    .telefono,
    .horario,
    .mail {
        flex-direction: column;
        align-items: center;
        padding: 5px 10px;
        border-right: 2px solid black;
    }

    .datos,
    .mapa {
        width: unset;
        align-items: center;
    }
}

/* PARA CELULAR */

@media (max-width: 576px) {

    /* HEADER */
    header {
        background-color: var(--verde);
    }

    .navbar-list {
        width: 100%;
        right: 0;
        left: 0;
        height: calc(100vh - 100px);
        border-radius: unset;
    }

    .cart {
        width: 95%;
    }

    .cart-item {
        flex-direction: column;
    }

    .item-price {
        text-align: center;
    }

    /* HERO */
    #hero {
        display: none;
    }

    /* NOSOTROS */
    #nosotros {
        margin-top: 0;
        padding-top: 30px;
        gap: 30px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .order {
        order: unset;
    }

    .mq-order {
        order: 2;
    }

    .info {
        align-items: center;
        text-align: justify;
    }

    .info p {
        text-align: center;
    }

    h1,
    .info h2 {
        text-align: center;
    }

    /* PRODUCTOS */
    #productos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .galeria {
        max-width: 90vw;
        padding: 40px 0;
    }

    .galeria img {
        width: 200px;
        height: 200px;
    }

    .galeria img:hover {
        transform: scale(1.3);
    }

    /* CONTACTO */
    .mapa {
        display: none;
    }

    .datos p {
        text-align: center;
    }

    /* FOOTER */

    footer p {
        text-align: center;
    }

}