/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* COLORES */
:root {
    --blanco: rgb(255, 255, 255);
    --verde: rgb(10, 137, 129);
    --crema: rgb(235, 206, 188);
    --crema-t: rgba(235, 206, 188, 0.5);
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background: var(--blanco);
}

/* SECTION GENERAL */
section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
}

/* HEADER */
header {
    background: none;
    width: 100%;
    max-width: 1400px;
    height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    transition: 0.7s;
}

/* HEADER PARA JS */
.header-bg {
    background-color: var(--verde);
}

/* LOGO */
.logo {
    height: 100%;
}

/* NAVBAR */
.navbar,
.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    gap: 20px;
}

.navbar-list {
    gap: 40px;
}

.navbar-list a {
    color: var(--blanco);
    font-size: 18px;
}

.navbar-list li:first-child>a {
    font-weight: 600;
}

.menu-icon,
.user-icon {
    font-size: 20px;
    font-size: 600;
    color: var(--blanco);
    cursor: pointer;
    position: relative;
}

/* MENU LABEL */
.menu-label {
    display: none;
}

/* MODAL SUCCESS */
.add-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--verde);
    position: fixed;
    bottom: 0;
    transform: translateY(200%);
    transition: all 0.5s ease-out;
    padding: 20px 0;
}

/* MOSTRAR MODAL PARA JS */
.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}


/* HERO */
#hero {
    max-width: unset;
    object-fit: cover;
    object-position: center;
    margin-top: -100px;
    padding: unset;
}

video {
    width: 100%;
}


/* NOSOTROS */
#nosotros {
    display: flex;
    flex-direction: column;
    background-image: url(./imagenes/bg\ patron.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -100px;
}

#nosotros img {
    border-radius: 1rem;
}

.container {
    display: flex;
    width: 100%;
}

.image,
.info {
    width: 50%;
}

.image img {
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.info {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    text-shadow: 4px 4px 3px var(--verde);
}

.info p {
    font-size: 20px;
}

.info a {
    /* background: var(--verde); */
    background-image: url(./imagenes/bg\ aqua\ 1.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 1rem;
    color: var(--blanco);
    font-size: 22px;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

/* COLOR BTN CATEGORIA PARA JS */
.active {
    background: var(--crema);
}

/* OCULTAR BTN VER MAS PARA JS */
.hidden {
    display: none;
}

/* NOTICIAS */
#noticias {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 300%;
    height: 400px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background: var(--blanco);
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn--right {
    right: 10px;
}

.slider__btn--left {
    left: 10px;
}

/* PRODUCTOS */
#productos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: url(./imagenes/bg\ patron.jpg);
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.galeria {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.galeria img {
    width: 250px;
    height: 250px;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--crema);
}

#productos p {
    font-size: 20px;
    color: var(--blanco);
    font-weight: 600;
}

#productos a {
    font-size: 22px;
    font-weight: 600;
    color: var(--blanco);
    /* background: var(--verde); */
    background-image: url(./imagenes/bg\ aqua\ 1.jpg);
    background-position: center;
    background-size: contain;
    padding: 3px 30px 3px 30px;
    border-radius: 1rem;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

/* DELIVERY */
#delivery {
    display: flex;
    position: absolute;
}

/* H2 */
#nosotros h2,
#noticias h2,
#productos h2 {
    font-size: 30px;
    text-shadow: 4px 4px 3px var(--verde);

}

/* CONTACTO */
#contacto {
    display: flex;
    flex-direction: column;
    background-color: black;
    max-width: unset;
    width: 100%;
}

#contacto h2 {
    color: var(--crema);
    padding-bottom: 30px;
    font-size: 30px;
    font-style: italic;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.contacto {
    display: flex;
    width: 100%;
    max-width: 1400px;
    padding: 30px 40px;
    background-image: url(./imagenes/cafe.png);
    background-size: cover;
    background-position: center;
}

.datos,
.mapa {
    width: 50%;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    order: 2;
}

.mapa {
    display: flex;
}

iframe {
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.75);
}

.datos h3 {
    font-weight: 500;
}

.datos h3,
.datos p {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-shadow: 3px 3px 4px rgba(255, 255, 255);


}

.direccion,
.telefono,
.horario,
.mail {
    display: flex;
    gap: 10px;
    background-color: var(--crema-t);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    box-shadow: -9px 9px 13px -4px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    padding: 5px 15px 5px 35px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--verde);
    border-top: 1px solid var(--crema);
}

footer p {
    color: var(--crema);
}