@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* COLORES */
:root {
    --blanco: rgb(255, 255, 255);
    --verde: rgb(10, 137, 129);
    --crema: rgb(235, 206, 188);
    --crema-t: rgba(235, 206, 188, 0.5);
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background: var(--blanco);
}

/* SECTION GENERAL */
section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
}

/* HEADER */
header {
    background: var(--verde);
    width: 100%;
    max-width: 1400px;
    height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

/* LOGO */
.logo {
    height: 100%;
}

/* NAVBAR */
.navbar,
.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    gap: 20px;
}

.navbar-list {
    gap: 40px;
}

.navbar-list a {
    color: var(--blanco);
    font-size: 18px;
}

.navbar-list li:first-child>a {
    font-weight: 600;
}

/* CARRITO */
.cart-icon,
.menu-icon,
.user-icon {
    font-size: 20px;
    font-size: 600;
    color: var(--blanco);
    cursor: pointer;
    position: relative;
}

.cart {
    position: absolute;
    top: 100px;
    right: 0;
    background: var(--crema);
    border-left: 1px solid var(--verde);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 290px;
    transform: translate(200%);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    color: var(--verde);
    font-size: 22px;
    font-weight: 600;
    padding: 15px 5px;
}

.cart-total p {
    color: var(--blanco);
    font-size: 20px;
    font-weight: 500;
}

.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 1rem;
    border: 1px solid var(--verde);
}

.item-info {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.item-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--verde);
}

.item-bid {
    font-size: 12px;
    font-weight: 400;
    color: var(--crema-t);
}

.item-price {
    color: var(--verde);
    font-size: 18px;
    font-weight: 700;
}

.item-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--blanco);
    color: var(--verde);
    font-weight: 600;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.item-quantity {
    color: var(--verde);
    font-size: 14px;
    font-weight: 600;
}

.up {
    border: 1px solid var(--verde);
}

.down {
    background: var(--crema-t);
    border: 1px solid var(--verde);
}

.divider {
    width: 90%;
    border: 1.5px solid var(--verde);
}

.cart-total {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

.cart-total p {
    color: var(--verde);
}

.cart-total span {
    font-weight: 600;
    font-size: 16px;
    color: var(--verde);
}

.cart-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 20px;
    margin-left: 15px;
    background-color: var(--crema);
    color: var(--verde);
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    padding-left: 1px;
    border-radius: 50%;
}

.btn-buy,
.btn-delete {
    background-color: var(--verde);
    border-radius: 0.5rem;
    padding: 5px 15px;
    cursor: pointer;
}

.btn-buy {
    font-size: 22px;
    font-weight: 500;
    border: 2px solid var(--blanco);
    color: var(--blanco);
}

.btn-delete {
    border: none;
    color: var(--crema);
}

/* TOGGLE DEL CARRITO PARA JS */
.open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* MENU LABEL */
.menu-label {
    display: none;
}

/* DESABILITAR BOTON DE CARRO PARA JS */
.disabled {
    background-color: var(--crema-t);
    color: var(--blanco);
    cursor: not-allowed;
}

.disabled:hover {
    background-color: var(--crema-t);
    color: var(--blanco);
    cursor: not-allowed;
}

/* MODAL SUCCESS */
.add-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--verde);
    position: fixed;
    bottom: 0;
    transform: translateY(200%);
    transition: all 0.5s ease-out;
    padding: 20px 0;
}

/* MOSTRAR MODAL PARA JS */
.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}


/* HERO */
#hero {
    max-width: 1400px;
    background-image: url(../imagenes/productos/torta.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    height: calc(100vh - 100px);
}

/* DELIVERY */
#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400PX;
    width: 100%;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    max-width: 1400px;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.category {
    background: var(--crema);
    border: none;
    padding: 10px 15px;
    color: var(--blanco);
    border-radius: 0.5rem;
    cursor: pointer;
}

.active {
    background: var(--verde);
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: var(--blanco);
    padding: 20px;
}

.product img {
    width: 280px;
    height: 280px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.product-info h3 {
    font-size: 16px;
    font-weight: 600;
}

.product-bot {
    display: flex;
    flex-direction: column;
}

.product-bot span {
    font-weight: 600;
}

.btn-add {
    cursor: pointer;
    padding: 10px 35px;
    color: var(--crema);
    background: var(--verde);
    border-radius: 0.5rem;
    border: none;
}

.btn-load {
    background: var(--verde);
    border: none;
    padding: 10px 35px;
    color: var(--blanco);
    border-radius: 10px;
    cursor: pointer;
}



/* OCULTAR BOTON PARA JS */
.hidden {
    display: none;
}